*{
    margin: 0;
padding: 0;
box-sizing: border-box;}

.main404{
background-color: rgb(250, 239, 217);
height: 100vh;
width: 100%;
display: grid;
place-items: center;
text-transform: uppercase;
font-family: "gfs didot";
}

.h1404{
    font-size: 85px;
    color: #344893;
}
.h2404{
    font-size: 165px ;
    color: #344893;
}
.h6404{
    font-size: 40px ;

}
.h6404:hover{
    transform: scale(1.1);
    transition: 0.7s;
    filter: opacity(1);
    box-shadow: 5px 5px 10px 1px #000;
}
.h3404{
    font-size: 30px ;
    color: #e1b735;
}